@charset "Shift?JIS";



#outer {
width:1000px;
height:1000px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#borderbox{
    background: white;
}
#borderbox p{
    margin: 0%;
    padding-left: 800px;
}

body{
    font-size: 80px;
    margin-bottom: 0;
}

.logo{
    height: 350px;
    width: 350px;
    background-color: #E6E6E6;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 1000px;
    margin: 100px 0px;
}

.main-nav{
    display: flex;
    justify-content:center
    padding-left: 3000px;
    padding-left: 3000px;
    margin: 100px;
}

.main-nav a{
    margin:100px 10px;
    padding: 50px;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
}
.main-nav a:hover{
    text-decoration: underline;
}

.baner{
    margin: 100px 0px;
    text-align: left;
}

h1{
    text-align: center;
    margin:0 auto;
}

h2{
    margin:0px;
}

h3{
    padding-left:1500px;}

.table {
    width: 5400px;
    margin: 400px 0px;
    display: flex;
    justify-content: left;
    padding-left:800px;
    text-align:left;
}

#tablehead{
    border-top :none;
    font-weight:bold;
}
#table{

    padding :100px 50px;
    border-top :none;
    font-weight:bold;

}

table th{ 
    font-weight:lighter;
    border-width: 1px 0px; /* 左右だけ引く */
    border-color: black;   /* 線色：黒 */
    border-style: solid;   /* 線種：実線 */
    padding: .8em;        /* セル内側の余白 */    
    background-color: #E6E6E6;
    height: 100px;
    width: 5400px;
    border-bottom: none;
    text-align:left;
}

table td{ 
    border-width: 1px 0px; /* 左右だけ引く */
    border-color: black;   /* 線色：黒 */
    border-style: solid;   /* 線種：実線 */
    padding: .8em;        /* セル内側の余白 */    
    background-color: #E6E6E6;
    height: 100px;
    width: 5400px;
    border-bottom: none;
    text-align:center;
}

.form{
    margin: 0%;
    text-align:center;
}

input::placeholder {
  font-size: 5.0em;
}
textarea::placeholder {
  font-size: 5.0em;
}

#e-mail {
    text-align:center;
    height:200px;
    width:1000px;
}
.e-mail {
text-align: center;

}
input#e-mail{
    text-align:left;
    background-color: #E6E6E6;
    width:2000px;
}
#textarea{
    text-align:center;
    height:10000px;
    width:2000px;
}
textarea{
    background-color: #E6E6E6;
    height:1000px;
    width:2000px;
}
.content {
text-align: center;
}
input#submit{
    background-color: #000;
    color: #fff;
    border-style: none;
    text-align: center;
    height: 150px;
    width: 300px;
}
.submit{
    text-align: center;
    padding-left: 1695px;
    margin: 15px;
}
footer{
    color: #fff;
    width:100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    margin-top: 0;
}
.copyright{
    background-color: #000;
    text-align:center;
    height: 3em;
}